@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');



:root {
  --main-font: 'Baskervville SC', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.back-img {
background-image: url(images/background.png);
background-size: 600px;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.navbar-brand {
  width: 25vw;
  max-width: 300px;
}

.nav-section  {
  width: 300px;
}

.nav-list {
  font-family: var(--main-font);
}

.sv-btn:hover {
  background: none !important;
  color: black !important;
  border: 1px solid black !important;
}

.lh {
  line-height: 1.7 !important;
}
